.module_lessons
    display: flex
    position: relative
    margin-top: 30px
    margin-bottom: 30px
    width: 100%
    height: 100%

    &__list
        display: flex
        flex-direction: column
        min-width: 250px
        width: 250px
        border-right: 2px solid $purple
        padding-right: 20px
        transition: .5


        &__item
            width: 100%
            padding: 7px 15px

            a
                cursor: pointer
                font-size: 17px

                &:hover
                    color: $purple-dark

        &__item.selected
            background-color: $purple
            border-radius: $border-radius

            a
                &:hover
                    color: black

    &__content
        width: 100%
        padding-left: 20px

        p
            margin-bottom: 10px
            font-size: 17px

            span
                line-height: 1.5

        &__video
            width: 100%
            margin-bottom: 50px

            position: relative
            /* задаёт высоту контейнера для 16:9 (если 4:3 — 75%) */
            padding-bottom: 56.25%
            height: 0
            overflow: hidden

            iframe
                border: none
                border-radius: $border-radius

                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                border-width: 0
                outline-width: 0

@media (max-width: 800px)
    .module_lessons

        &__list
            position: absolute
            width: 100%
            height: 100%
            z-index: 100
            background-color: $bgc-color
            border: none
            padding-right: 0
            font-size: 17px
            height: 0

        &__list.show

            height: 100%

        &__content
            padding-left: 0
