.course_header
    display: flex
    flex-direction: column
    padding: 30px
    background-color: $purple
    border-radius: $border-radius

    &__description
        display: flex
        flex-wrap: wrap
        width: 100%

        &__text
            display: flex
            flex-direction: column

        &__title
            font-size: 25px
            font-weight: bold
