{% extends 'components/base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}

<div class="course_header">
    <div class="course_header__description">
        <div class="course_header__description__text">
            <span>Курс</span>
            <span class="course_header__description__title">{{ title }}</span>
        </div>

    </div>
    <div class="progress">
        <span>60%</span>
        <div class="progress__wrapper">
            <div class="progress__wrapper__line"></div>
            <div class="progress__wrapper__value" style="transform: translateX(-40%)"></div>
        </div>
    </div>
</div>

<div class="course_chapters">

    {% for chapter in chapters %}
    <div class="course_chapters__card">
        <div class="course_chapters__card__title">{{ chapter.title }}</div>
        <div class="progress">
            <span>40%</span>
            <div class="course_chapters__card__content">
                <span>1 видео</span>
            </div>
            <div class="progress__wrapper">
                <div class="progress__wrapper__line"></div>
                <div class="progress__wrapper__value" style="transform: translateX(-60%)"></div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}