{% extends 'components/base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}

<div class="course_header">
    <div class="course_header__description">
        <div class="course_header__description__text">
            <span>Курс</span>
            <h1 class="course_header__description__title">{{ title }}</h1>
        </div>
    </div>

    {% include 'components/progress.html' %}
</div>

<div class="course_chapters">
    {% for chapter in chapters %}
    <a class="course_chapters__card" href="{% url 'chapter_template' chapter.id %}">
        <div class="course_chapters__card__title">{{ chapter.title }}</div>
        {% include 'components/progress.html' %}

        <div class="course_chapters__card__content">
            <span>1 видео</span>
        </div>
    </a>
    {% endfor %}

</div>

{% endblock %}