{% extends 'components/base.html' %}

{% load static %}

{% block title %}Курс !!!{% endblock %}


{% block content %}

<div class="content">
    <div class="course_header">
        <div class="course_header__description">
            <div class="course_header__description__text">
                <span>Курс</span>
                <span class="course_header__description__title">Денежный поток</span>
            </div>

        </div>
        <div class="course_header__progress">
            <span>60%</span>
            <div class="course_header__progress__wrapper">
                <div class="course_header__progress__line"></div>
                <div class="course_header__progress__value"></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}