{% extends 'components/base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
<div class="module_header">
    <div class="module_header__course">
        <!--        <span>Курс</span>-->
        <h2>{{ module.course.title }}</h2>
    </div>
    <div class="module_header__title">
        <h1>{{ module.title }}</h1>
    </div>
</div>

<div class="module_lessons">
    <div class="module_lessons__list show">
        {% for lesson in module.lessons %}
        <div class="module_lessons__list__item  {% if lesson.id == current_lesson.id %}selected{% endif %}">
            <a href="?lesson_id={{ lesson.id }}">{{ lesson.title }}</a>
        </div>
        {% endfor %}
    </div>
    <div class="module_lessons__content">
        {% if current_lesson.video_url %}
        <div class="module_lessons__content__video">
            <iframe 
                src="{{ current_lesson.video_url}}">
            </iframe>
        </div>
        {% endif %}
        <div class="module_lessons__content__text">
            {{ current_lesson.text | safe }}
        </div>
    </div>
</div>

{% endblock %}